body{
    display: flex;
    justify-content: center;
    align-items: center;
   background-color: bisque;
   padding: 0 35px;
}
[data-testid="div1"]{
    background-color: burlywood;
    border: 2px solid burlywood;
    height: 150px;
    border-radius: 15px;
    width: 99.3%;
}
section{
    border: 2px solid burlywood;
    width: 40%;
    border-radius: 25px;
    position: relative; 
    max-width: 1200px; 
}
[data-testid="div"] {
    max-width: 800px;
}
[data-testid="profilePicture"]{
    width: 140px;
    border-radius: 50%;
    object-fit: cover;
    height: 140px;
    border: 3px solid bisque;
    position: absolute;
    top: 50px;
    left: 177px;
    margin: 0 auto;
}
[data-testid="fullName"]{
    margin-top: 22px;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 20px;
    font-weight: bolder;
}
[data-testid="jobTitle"]{
    font-size: 1rem;
    text-align: center;
    margin-top: -45px;
}
[data-testid="div2"]{
    border-top: 3px solid burlywood;
    width: 280px;
}
[data-testid="shortBio"]{
    font-size: 17px;
    text-align: center;
    margin: 0 auto 10px;
    margin-top: -20px;
    padding: 20px 75px;
}
[data-testid="currentLocation"]{
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
}
[data-testid="emailAddress"]{
    text-align: center;
    font-size: 15px;
}
[data-testid="socialLinks"]{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 10px;
}
[data-testid="socialLinks"] a {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}
[data-testid="socialLinks"] .fa-linkedin:hover {
    color: #0077b5;
}

[data-testid="socialLinks"] .fa-github:hover {
    color: #333;
}

[data-testid="socialLinks"] .fa-twitter-square:hover {
    color: #1DA1F2;
}
[data-testid="currentTimeUTC"]{
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
    font-family: monospace;
}
.fa-linkedin{
    color: rgb(230, 155, 57);
}
.fa-github{
    color: rgb(230, 155, 57); 
}
.fa-twitter-square{
    color: rgb(230, 155, 57); 
}
@media screen and (max-width: 768px) {
    [data-testid="div"] {
        padding: 20px;
        margin: 10px;
    }

    [data-testid="profilePicture"] {
        width: 120px;
        height: 120px;
    }

    [data-testid="fullName"] {
        font-size: 1.75rem;
    }
    [data-testid="jobTitle"] {
        font-size: 1.1rem;
    }

    [data-testid="div2"] {
        width: 70%;
    }
}

@media screen and (min-width: 375px) {
    section {
        width: 100%;
        height: auto;

    }

    [data-testid="div1"] {
        width: 125%;
        margin-top: -30px;
        margin-left: -30px;
    }
    [data-testid="profilePicture"] {
        margin-top: 10px;
        margin-left: -33%;
    }

    [data-testid="fullName"] {
        font-size: 1.5rem;
    }
    [data-testid="div2"] {
       margin-top: 15%;
       width: 100%;
    }

    [data-testid="jobTitle"] {
        font-size: 1rem;
    }
    [data-testid="shortBio"] {
        font-size: 1rem;
        padding: 10px 10px;
        margin-top: 10px;
        
    }

    [data-testid="socialLinks"] {
        gap: 15px;
    }

    [data-testid="socialLinks"] a {
        font-size: 1.25rem;
        margin-top: 17px;
    }
    [data-testid="currentLocation"] {
        font-size: 1.25rem;
        margin-top: 24px;
    }
    [data-testid="emailAddress"] {
        margin-top: 5px;
    }
}
@media screen and (max-width: 320px) {
    section{
        width: 120%;
        height: auto;

    }

    [data-testid="div1"] {
        width: 136%;
        margin-top: -32px;
        margin-left: -33px;
    }
    [data-testid="profilePicture"] {
       margin-left: -52%;
       margin-top: 10%;
    }
    [data-testid="fullName"] {
        font-size: 1.2rem;
        margin-top: 16%;
     }
     [data-testid="jobTitle"] {
        font-size: 0.8rem;
        margin-top: -39px;
     }
     [data-testid="div2"] {
        width: 80%;
        margin-top: 20px;
     }
    [data-testid="shortBio"] {
        font-size: 0.85rem;
        margin-top: -15px;
        padding: 15px 5px;
    }
    [data-testid="currentLocation"] {
        font-size: 0.9rem;
        margin-top: 17px;
    }
    [data-testid="emailAddress"] {
        font-size: 0.9rem;
        margin-top: 5px;
    }
}
@media screen and (min-width: 425px) {
    section {
        width: 100%;
        height: auto;

    }

    [data-testid="div1"] {
        width: 120.6%;
        margin-top: -29.7px;
        margin-left: -30px;
    }
    [data-testid="profilePicture"] {
        margin-top: 10px;
        margin-left: -19%;
    }

    [data-testid="fullName"] {
        font-size: 1.5rem;
    }
    [data-testid="div2"] {
       margin-top: 15%;
       width: 100%;
    }

    [data-testid="jobTitle"] {
        font-size: 1rem;
    }
    [data-testid="shortBio"] {
        font-size: 1rem;
        padding: 10px 10px;
        margin-top: 10px;
        
    }

    [data-testid="socialLinks"] {
        gap: 15px;
    }

    [data-testid="socialLinks"] a {
        font-size: 1.25rem;
        margin-top: 17px;
    }
    [data-testid="currentLocation"] {
        font-size: 1.25rem;
        margin-top: 24px;
    }
    [data-testid="emailAddress"] {
        margin-top: 5px;
    }
}
@media screen and (min-width: 768px) {
    section {
        width: 100%;
        height: auto;

    }

    [data-testid="div1"] {
        width: 109.6%;
        margin-top: -29.7px;
        margin-left: -30px;
    }
    [data-testid="profilePicture"] {
        margin-top: 10px;
        margin-left: 15%;
    }
    
}
@media screen and (min-width: 1024px) {
    section {
        width: 100%;
        height: auto;

    }

    [data-testid="div1"] {
        width: 116.7%;
        margin-top: 0.1px;
        margin-left: -3px;
    }
    [data-testid="profilePicture"] {
        margin-top: 10px;
        margin-left: 25%;
    }
    [data-testid="fullName"] {
        font-size: 2.3rem;
        text-align: center;
        margin-left: 25%;
        margin-top: 40px;
    }
    [data-testid="jobTitle"] {
        font-size: 1.5rem;
        text-align: center;
        margin-left: 25%;
        margin-bottom: -65px;
    }
    [data-testid="div2"] {
        width: 100%;
        margin-left: 10%;
    }
    [data-testid="shortBio"] {
        padding: 10px 0;
        text-align: center;
        margin-left: 19%;
        font-size: 1.8rem;
    }
    [data-testid="currentLocation"] {
       margin-left: 25%;
       font-size: 1.8rem;
    }
    [data-testid="emailAddress"] {
        margin-left: 25%;
        font-size: 1.4rem;
     }
     [data-testid="socialLinks"] {
        margin-left: 20%;
        font-size: 1.4rem;
        gap: 10%;
        display: flex;
        justify-content: center;
     }
     [data-testid="currentTimeUTC"] {
        margin-left: 20%;
        font-size: 2rem;
     }
    
}
@media screen and (min-width: 1440px) {
    section {
        width: 100%;
        height: auto;

    }

    [data-testid="div1"] {
        width: 150%;
        margin-top: 0.1px;
        margin-left: -3px;
    }
    [data-testid="profilePicture"] {
        margin-top: 10px;
        margin-left: 30%;
    }
    [data-testid="fullName"] {
        font-size: 2.9rem;
        text-align: center;
        margin-left: 55%;
        margin-top: 40px;
    }
    [data-testid="jobTitle"] {
        font-size: 1.8rem;
        text-align: center;
        margin-left: 55%;
        margin-bottom: -65px;
    }
    [data-testid="div2"] {
        width: 105%;
        margin-left: 25%;
    }
    [data-testid="shortBio"] {
        padding: 5px 5px;
        margin-left: 60%;
        font-size: 1.8rem;
    }
    [data-testid="currentLocation"] {
       margin-left: 60%;
       font-size: 2rem;
    }
    [data-testid="emailAddress"] {
        margin-left: 60%;
        font-size: 1.6rem;
        margin-top: 10px;
     }
     [data-testid="socialLinks"] {
        margin-left: 60%;
        font-size: 2rem;
        gap: 15%;
        display: flex;
        justify-content: center;
     }
     [data-testid="currentTimeUTC"] {
        margin-left: 60%;
        font-size: 2rem;
     }
    
}

